@inherits LayoutComponentBase
@namespace Razmx.App.Pages

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <HeadOutlet/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="/css/app.min.css" rel="stylesheet"/>
    @* <link href="/css/inter.css" rel="stylesheet"> *@
    <script src="/js/htmx.min.js"></script>
</head>

<body hx-history="false" hx-target="@HtmxMainRouter.Id" class="bg-gray-100 flex flex-col h-screen">
<AppBar/>
<div class="flex flex-grow py-20 px-12">
    <HtmxMainRouter class="max-w-6xl mx-auto w-full">
        @Body
    </HtmxMainRouter>
</div>
<footer class="flex justify-center w-full py-2">
    <h3>
        <HtmxLink href="/privacy" class=" align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Privacy</HtmxLink>
    </h3>
</footer>
</body>
</html>