<nav>
    <h3>
        <HtmxLink href="/">Home</HtmxLink>
    </h3>
    @if (IsAuthenticated)
    {
        <h3>
            <HtmxLink href="/forecasts">Forecasts</HtmxLink>
        </h3>
    }

    <h3>
        <HtmxLink href="/privacy">Privacy</HtmxLink>
    </h3>

    @if (IsAuthenticated)
    {
        <h3>
            Hello @Username !
            <HtmxPost Url="/logout">Logout</HtmxPost>
        </h3>
    }
    else
    {
        <h3>
            <HtmxLink href="/login">Login</HtmxLink>
        </h3>
        <h3>
            <HtmxLink href="/register">Register</HtmxLink>
        </h3>
    }
</nav>

@code {

    [CascadingParameter] private HttpContext? HttpContext { get; set; }
    private bool IsAuthenticated => HttpContext?.User.Identity?.IsAuthenticated == true;
    
    private string? Username => HttpContext?.User.Identity?.Name;

}