<div class="px-2">
    <div class="flex flex-wrap -mx-6">
        @foreach (var forecast in Model)
        {
            <Forecast Value="@forecast"/>
        }
    </div>
</div>

@code
{
    [Parameter] public IEnumerable<WeatherForecast> Model { get; set; }
}