@inherits HtmxPage
@page "/components/forecasts"

<h1>Weather forecasts</h1>

@foreach (var forecast in Data)
{
    <Forecast Id="@forecast.Id" Value="@forecast"/>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private static string[] summaries = new[]
    {
        "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching"
    };

    public IEnumerable<WeatherForecast> Data = Enumerable.Range(1, 5).Select(index =>
            new WeatherForecast
            (
                DateOnly.FromDateTime(DateTime.Now.AddDays(index)),
                Random.Shared.Next(-20, 55),
                summaries[Random.Shared.Next(summaries.Length)]
            ))
        .ToArray();

    public record WeatherForecast(DateOnly Date, int TemperatureC, string? Summary)
    {
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
        public string Id { get; set; } = Guid.NewGuid().ToString();
    }
}