<h2>@Value.Summary</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Date: @Value.Date</h5>
        <h6 class="card-subtitle mb-2 text-muted">Temperature: @Value.TemperatureC</h6>
    </div>
</div>

@code
{
    [Parameter] public WeatherForecast Value { get; set; }
}