@inherits LayoutComponentBase
@namespace Razmx.App

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <HeadOutlet/>
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <link href="/css/app.min.css" rel="stylesheet"/>
    <link href="/css/inter.css" rel="stylesheet">
    <script src="/js/htmx.min.js"></script>
</head>

<body hx-boost="true">
<HtmxRouter RouterId="@MainRouterId" CssClass="bg-white bg-gray-100 flex flex-col">
    @Body
</HtmxRouter>
</body>
</html>

@code{
    private static string MainRouterId = "main-router";

    public static string GetRouterId(string? routerId = null)
    {
        return $"#{routerId ?? MainRouterId}";
    }

}