@inherits LayoutComponentBase
@namespace Razmx.App
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <HeadOutlet/>
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <link href="/css/app.min.css" rel="stylesheet"/>
    <link href="/css/inter.css" rel="stylesheet">
    <script src="/js/htmx.min.js"></script>
</head>

<body hx-boost="true">
<header class="w-full bg-white px-12 py-4">
    <nav class="flex justify-between items-center w-full max-w-6xl mx-auto">
        <h3>
            <a href="/" hx-target="@GetRouterId()">Home</a>
        </h3>
        <h3>
            <a href="/privacy" hx-target="@GetRouterId()">Privacy</a>
        </h3>
        @if(IsAuthenticated)
        {
            <h3>
                Hello @Username !
                <form action="/logout" method="post">
                    <button type="submit" hx-post="/logout">Logout</button>
                </form>
            </h3>
        }
    </nav>
</header>
<HtmxRouter RouterId="@MainRouterId" CssClass="bg-white bg-gray-100 flex flex-col">
    @Body
</HtmxRouter>
</body>
</html>

@code{
    private static string MainRouterId = "main-router";

    private bool IsAuthenticated => HttpContextAccessor.HttpContext?.User.Identity?.IsAuthenticated == true;
    private string? Username => HttpContextAccessor.HttpContext?.User.Identity?.Name;

    public static string GetRouterId(string? routerId = null)
    {
        return $"#{routerId ?? MainRouterId}";
    }

}