@page "/privacy"

<HtmxAppPage>
    <HtmxPageTitle>@Title</HtmxPageTitle>
    <h1 class="mb-8 text-3xl font-bold">@Title</h1>
    
    <div>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</HtmxAppPage>

@code{

    private static string Title = "Privacy Info";

}