@page "/forecasts/{Id}"
@attribute [Authorize]

<HtmxAppPage PageName="@_value.Summary">
    <h1>Forecast details</h1>
    <HtmxLink Route="/forecasts">Go to forecasts</HtmxLink>

    <Forecast Value="_value"/>
</HtmxAppPage>

@code
{
    [Parameter] public string Id { get; set; } = string.Empty;

    private WeatherForecast? _value;

    protected override Task OnInitializedAsync()
    {
        _value = new WeatherForecast(new DateOnly(2023, 10, 02), 13, "Sample random", Id);
        return base.OnInitializedAsync();
    }
}