@page "/forecasts"
@attribute [Authorize]

<HtmxAppPage>
    <HtmxPageTitle>@Title</HtmxPageTitle>
    <h1>@Title</h1>

    <HtmxGet Url="/api/forecasts/json" hx-target="#forecasts">Refresh</HtmxGet>

    <div id="forecasts">
        <Forecasts Model="_forecasts"/>
    </div>
</HtmxAppPage>

@code{
    private static string Title => "Weather Forecasts";
    private IEnumerable<WeatherForecast> _forecasts;

    protected override void OnInitialized()
    {
        _forecasts = ForecastsService.GetNextForecasts();
        base.OnInitialized();
    }

}