@page "/forecasts"
@attribute [Authorize]

<HtmxAppPage PageName="Weather Forecasts">
    <h1>Weather Forecasts</h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>

    <HtmxGet Url="/api/forecasts" hx-target="#forecasts">Refresh</HtmxGet>

    <div id="forecasts">
        <Forecasts Value="_forecasts"/>
    </div>

    <HtmxPost Url="/api/forecasts" HxRetarget="@HtmxMainRouter.Id">Create</HtmxPost>
    <HtmxPut Url="/api/forecasts/1234">Update</HtmxPut>
</HtmxAppPage>

@code{
    private IEnumerable<WeatherForecast> _forecasts;

    protected override void OnInitialized()
    {
        _forecasts = ForecastsService.GetNextForecasts();
        base.OnInitialized();
    }

}