@page "/forecasts"
@attribute [Authorize]

<HtmxAppPage>
    <HtmxPageTitle>@Title</HtmxPageTitle>
    <div class="flex justify-between">
        <h1 class="mb-2 text-3xl font-bold">@Title</h1>
        <HtmxGet Url="/api/forecasts" hx-target="#forecasts" class="px-4 py-2 font-medium rounded bg-blue-500 hover:bg-blue-600 text-white transition">Refresh</HtmxGet>
    </div>

    <div id="forecasts" class="mt-8">
        <Forecasts Model="_forecasts"/>
    </div>
</HtmxAppPage>

@code{
    private static string Title => "Weather Forecasts";
    private IEnumerable<WeatherForecast> _forecasts;

    protected override void OnInitialized()
    {
        _forecasts = ForecastsService.GetNextForecasts();
        base.OnInitialized();
    }

}