@namespace Razmx.App.Pages

<HtmxAppPage>
    <HtmxPageTitle>@Title</HtmxPageTitle>
    <h1>@Title</h1>

    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger" role="alert">
            @Error
        </div>
    }

</HtmxAppPage>

@code {
    private static string Title => "Not found";

    [Parameter] public string? Error { get; set; }
    [Parameter] public string? Path { get; set; }
}