@inherits HtmxPage
@page "/privacy"

@{
    Title = "Privacy Policy";
}

<HtmxLayout Layout="@typeof(MainLayout)">
    <PageTitle>@Title</PageTitle>
    <h3>Privacy</h3>

    <div class="text-center">
        <h1 class="display-4">Privacy Info</h1>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</HtmxLayout>