@page "/privacy"
@attribute [AllowAnonymous]

<HtmxAppPage PageName="Privacy Policy">
    <h1>Privacy Info</h1>
    <div>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</HtmxAppPage>