@page "/privacy"

<HtmxPage Layout="@typeof(Main)" Title="Privacy Policy">
    <h3>Privacy</h3>
    <div class="text-center">
        <h1 class="display-4">Privacy Info</h1>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</HtmxPage>